.pointer{
    color: brown;
    cursor: pointer;
}
.emoji{
    color: cadetblue;
    cursor: url(../images/image.jpg), auto ;
}
ul{
    align-items: center;
    justify-content: end;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}
ul > li{
    list-style: none;
    color: #757575;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.primary-btn{
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
}